*{
    padding:0px;
    margin:0px;
}
:root{
 
    --colour1: #81dfea;     
    --colour2: hwb(180 96% 2%);     
}
body{
    background-color:#32dfd9; 
    display: flex;
    font-size: 20px;  
}
#numbers{
    font-size: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
span{
    font-size: 50px;
}