*{
    padding:0px;
    margin:0px;
}
:root{
 
    --colour1: #81dfea;     
    --colour2: hwb(180 96% 2%);     
}
body{
    background-color:#32dfd9; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center ;
     height: 100vh;  /* to make them ceter use heght and justifi content height as 100vh it will take container to the ceter from top to bottom */
    justify-content: center;
    
}
.container1 {
    display: flex;
}
.container1 .number{  
font-size: 200px;
font-weight: 400;
margin: 0 10px;
background-color: var(--colour2);
box-shadow: 0px 0px 15px 0px var(--colour2);
display: flex;
justify-content: center;
align-items: center;
color:var(--colour1);
padding: 20px;
border-radius: 20px;

}
.container1 .number span{
font-size: 50px;
font-weight: 300;
}

.container2{
    margin: 20px;
}

.container2 button{
    color:var(--colour1);
    background-color:var(--colour2) ;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 0px 10px;
    width:200px;
}
 .container2 button:hover{
    background-color: black;
    color: white;
    cursor: pointer ;
    box-shadow: 0px 0px 10px 5px ;

 }

 @media(max-width: 1400px){
    .container1 .number{
        font-size: 100px;
    }
    .container1 span{
        font-size: 20px;
    }
 }

 @media(max-width: 800px)
 {
    body{
        flex-direction: column-reverse;
    }
    .container1 {
        flex-direction: column;
    }
    .container1 .number{
        margin: 10px;
        font-size: 80px;
    }
    .container button{
        font-size: 20px;
        padding:5px ;
        width: 150px;
        margin: 0px 5px;
    }
    .container2{
        margin: 5px;

    }
 }

 @media(max-width:450px)
 {
    .container2{
        margin: 5px;
        display: flex;
        flex-direction: column;

    }
     .container2 button{
        margin:5px ;
     } 
 }
 